USE [Empresa_PRC]
GO
/****** Object:  StoredProcedure [dbo].[proceso1]    Script Date: 05/02/2026 17:20:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   procedure [dbo].[proceso1](@num1 int, @num2 int)
as
declare @operacion int;

if @num2 = 0
  throw 50001, 'Error lanzado del proceso1, num2 es cero', 1;


set @operacion = @num1 / @num2;
print 'En el proceso1: ' + convert(VARCHAR(40), @operacion);

set @operacion = 11 + 22;
print 'En el proceso1 operacion suma: ' + convert(VARCHAR(40), @operacion);

exec dbo.proceso0 @num1, @num2;

