USE [enviodb]
GO
/****** Object:  StoredProcedure [dbo].[preparar_env_ope_tesoreria_com]    Script Date: 04/02/2026 16:25:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROC [dbo].[preparar_env_ope_tesoreria_com] @TIPO_CIERRE INT, @FECHA INT  
AS  
BEGIN 
DECLARE @COD_ERR INT 
 
	DELETE COMP_M2  
	 
	INSERT INTO COMP_M2 ( 
		NUM_OPE, 
		ID, 
        	AGRUPADO, 
		A_DM2_FRE_REV_G, 
		A_DM2_FRE_REV_C, 
		A_DM2_TIPO_BARRERA, 
		A_DM2_TIPO_OPCFX, 
		A_DM2_BASE_R, 
		A_DM2_BASE_P, 
		A_DM2_NIV_BARRERA, 
		A_DM2_F_INI_LIQ_R, 
		A_DM2_F_FIN_LIQ_R, 
		A_DM2_F_INI_LIQ_P, 
		A_DM2_F_FIN_LIQ_P, 
		A_DM2_F_COMFLAT_R, 
		A_DM2_F_COMFLAT_P, 
		A_DM2_F_INI_COMPER_R, 
		A_DM2_F_FIN_COMPER_R, 
		A_DM2_F_INI_COMPER_P, 
		A_DM2_F_FIN_COMPER_P, 
		A_DM2_F_PRIMA, 
		A_DM2_F_TOQUE_BAR, 
		A_DM2_N_VAR_PRIN_R, 
		A_DM2_N_VAR_PRIN_P, 
		A_DM2_OPCFX_DIV_C_CEN, 
		A_DM2_OPCFX_DIV_V_CEN, 
		A_DM2_COD_NETTING, 
		A_DM2_F_LIQ_PROX_CUP_R, 
		A_DM2_F_LIQ_PROX_CUP_P, 
		A_DM2_F_COMPER_R, 
		A_DM2_F_COMPER_P, 
		A_DM2_F_PROX_VARPRIN_R, 
		A_DM2_F_ULT_VARPRIN_R, 
		A_DM2_F_PROX_VARPRIN_P, 
		A_DM2_F_ULT_VARPRIN_P, 
		A_DM2_LIQ_PROX_R, 
		A_DM2_ACUM_PER_R, 
		A_DM2_LIQ_PROX_P, 
		A_DM2_ACUM_PER_P, 
		A_DM2_ACUM_REV, 
		A_DM2_COMFLAT_R, 
		A_DM2_COMFLAT_P, 
		A_DM2_COMPER_R, 
		A_DM2_COMPER_PER_R, 
		A_DM2_COMPER_P, 
		A_DM2_COMPER_PER_P, 
		A_DM2_PRIMA, 
		A_DM2_REBATE, 
		A_DM2_LIM_SUP, 
		A_DM2_LIM_INF, 
		A_DM2_PROX_VARPRIN_R, 
		A_DM2_PROX_VARPRIN_P, 
		A_DM2_ULT_VARPRIN_R, 
		A_DM2_ULT_VARPRIN_P, 
		A_DM2_OPCFX_NOM_C, 
		A_DM2_OPCFX_NOM_V, 
		A_DM2_TIPO_LIQ_R, 
		A_DM2_TIPO_LIQ_P, 
		A_DM2_FIJ_VAR_R, 
		A_DM2_FIJ_VAR_P, 
		A_DM2_INDICE_R_ID, 
		A_DM2_INDICE_P_ID, 
		A_DM2_INDICE_R, 
		A_DM2_INDICE_P, 
		A_DM2_SPREAD_R, 
		A_DM2_SPREAD_P, 
		A_DM2_ACTIVO_R_ID, 
		A_DM2_ACTIVO_P_ID, 
		A_DM2_ACTIVO_R, 
		A_DM2_ACTIVO_P, 
		A_DM2_COD_CESTA_P, 
		A_DM2_COD_CESTA_R, 
		A_DM2_F_PROX_FIJ_R, 
		A_DM2_F_PROX_FIJ_P, 
		A_DM2_NETTING, 
		A_DM2_NETT_COLAT, 
		A_DM2_ENT_CON_COD_INT, 
		A_DM2_NOCI_VIV_R, 
		A_DM2_NOCI_VIV_P, 
		A_DM2_PORC_PART_PPAG, 
		A_DM2_PORC_PART_PREC, 
		A_DM2_FREC_PPAG, 
		A_DM2_FREC_PREC 
		) 
	SELECT 
		NUM_OPE=A_OPE_NUM_OPE, 
		ID=MIN(R_DM2_OPE_ID), 
        AGRUPADO=COUNT(*), 
		A_DM2_FRE_REV_G = STR(AVG(A_DM2_FRE_REV_G),1,0), 
		A_DM2_FRE_REV_C = STR(AVG(A_DM2_FRE_REV_C),1,0), 
		A_DM2_TIPO_BARRERA =STR(AVG(A_DM2_TIPO_BARRERA),1,0), 
		A_DM2_TIPO_OPCFX =MIN(A_DM2_TIPO_OPFX), 
		A_DM2_BASE_R = STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_BASE ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_BASE END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_BASE END 
					END),2,0), 
		A_DM2_BASE_P = STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_BASE END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_BASE ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_BASE ELSE  NULL END 
					END),2,0), 
		A_DM2_NIV_BARRERA = STR(MIN(A_DM2_NIV_BARRERA),15,6), 
		A_DM2_F_INI_LIQ_R = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_INI_LIQ ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_INI_LIQ END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_INI_LIQ END 
					END),'19000101'),112), 
		A_DM2_F_FIN_LIQ_R = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_FIN_LIQ ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_FIN_LIQ END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_FIN_LIQ END 
					END),'19000101'),112), 
		A_DM2_F_INI_LIQ_P = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_INI_LIQ END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_INI_LIQ ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_INI_LIQ ELSE  NULL END 
					END),'19000101'),112), 
		A_DM2_F_FIN_LIQ_P  =CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_FIN_LIQ END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_FIN_LIQ ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_FIN_LIQ ELSE  NULL END 
					END),'19000101'),112), 
		A_DM2_F_COMFLAT_R  = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_COMFLAT ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_COMFLAT END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_COMFLAT END 
					END),'19000101'),112),	 
		A_DM2_F_COMFLAT_P =CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_COMFLAT END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_COMFLAT ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_COMFLAT ELSE  NULL END 
					END),'19000101'),112), 
		A_DM2_F_INI_COMPER_R = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_INI_COMPER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_INI_COMPER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_INI_COMPER END 
					END),'19000101'),112), 
		A_DM2_F_FIN_COMPER_R =CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_FIN_COMPER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_FIN_COMPER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_FIN_COMPER END 
					END),'19000101'),112), 
		A_DM2_F_INI_COMPER_P = CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_INI_COMPER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_INI_COMPER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_INI_COMPER ELSE  NULL END 
					END),'19000101'),112), 
		A_DM2_F_FIN_COMPER_P =CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_FIN_COMPER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_FIN_COMPER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_FIN_COMPER ELSE  NULL END 
					END),'19000101'),112), 
		A_DM2_F_PRIMA = CONVERT(CHAR(8),DATEADD(DAY,MIN(A_DM2_F_PRIMA),'19000101'),112), 
		 
		A_DM2_F_TOQUE_BAR =CONVERT(CHAR(8),DATEADD(DAY,MIN(A_DM2_F_TOQUE_BAR),'19000101'),112), 
		A_DM2_N_VAR_PRIN_R = STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_N_VAR_PRIN_PDTE ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_N_VAR_PRIN_PDTE END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_N_VAR_PRIN_PDTE END 
					END),5,0), 
		A_DM2_N_VAR_PRIN_P = STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_N_VAR_PRIN_PDTE END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_N_VAR_PRIN_PDTE ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_N_VAR_PRIN_PDTE ELSE NULL END 
					END),5,0), 
		A_DM2_OPCFX_DIV_C_CEN =  min((SELECT MIN(A_DIV_COD_ENLACE) as mi_minimo FROM drsdb..C_DIVISA WHERE A_DIV_ID = M2.R_DM2_DIV_ID_OPCFX_C)), 
		A_DM2_OPCFX_DIV_V_CEN = 1, --MIN((SELECT MIN(A_DIV_COD_ENLACE) FROM drsdb..C_DIVISA WHERE A_DIV_ID = M2.R_DM2_DIV_ID_OPCFX_V)), 
		 
		A_DM2_COD_NETTING = MIN (A_DM2_COD_NETTING), 
		A_DM2_F_LIQ_PROX_CUP_R = CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_LIQ_PROX_CUP ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_LIQ_PROX_CUP END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_LIQ_PROX_CUP END 
					END),'19000101'),112)), 
				 
		A_DM2_F_LIQ_PROX_CUP_P =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_LIQ_PROX_CUP END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_LIQ_PROX_CUP ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_LIQ_PROX_CUP ELSE NULL END 
					END),'19000101'),112)), 
		A_DM2_F_COMPER_R  =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_COMPER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_COMPER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_COMPER END 
					END),'19000101'),112)), 
		A_DM2_F_COMPER_P =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_COMPER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_COMPER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_COMPER ELSE NULL END 
					END),'19000101'),112)), 
		 
		A_DM2_F_PROX_VARPRIN_R =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_PROX_VARPRIN ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_PROX_VARPRIN END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_PROX_VARPRIN END 
					END),'19000101'),112)), 
		A_DM2_F_ULT_VARPRIN_R =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_ULT_VARPRIN ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_ULT_VARPRIN END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_ULT_VARPRIN END 
					END),'19000101'),112)), 
		A_DM2_F_PROX_VARPRIN_P =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_PROX_VARPRIN END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_PROX_VARPRIN ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_PROX_VARPRIN ELSE NULL END 
					END),'19000101'),112)), 
		A_DM2_F_ULT_VARPRIN_P =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY, 
					SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_ULT_VARPRIN END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_ULT_VARPRIN ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_ULT_VARPRIN ELSE NULL END 
					END),'19000101'),112)), 
	 
		A_DM2_LIQ_PROX_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_LIQ_PROX ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_LIQ_PROX END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_LIQ_PROX END 
					END), 
		A_DM2_ACUM_PER_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_ACUM_PER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_ACUM_PER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_ACUM_PER END 
					END), 
		A_DM2_LIQ_PROX_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_LIQ_PROX END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_LIQ_PROX ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_LIQ_PROX ELSE NULL END 
					END), 
		A_DM2_ACUM_PER_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_ACUM_PER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_ACUM_PER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_ACUM_PER ELSE NULL END 
					END), 
		A_DM2_ACUM_REV = SUM(A_DM2_ACUM_REV), 
		A_DM2_COMFLAT_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMFLAT ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_COMFLAT END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMFLAT END 
					END), 
		A_DM2_COMFLAT_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMFLAT END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_COMFLAT ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMFLAT ELSE NULL END 
					END), 
		A_DM2_COMPER_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMPER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_COMPER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMPER END 
					END), 
		A_DM2_COMPER_PER_R =SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMPER_PER ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_COMPER_PER END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMPER_PER END 
					END), 
		A_DM2_COMPER_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMPER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_COMPER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMPER ELSE NULL END 
					END), 
		A_DM2_COMPER_PER_P =SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_COMPER_PER END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_COMPER_PER ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_COMPER_PER ELSE NULL END 
					END), 
		A_DM2_PRIMA = SUM(A_DM2_PRIMA), 
		A_DM2_REBATE = SUM(A_DM2_REBATE), 
		A_DM2_LIM_SUP = SUM(A_DM2_LIM_SUP), 
		A_DM2_LIM_INF = SUM(A_DM2_LIM_INF), 
		 
		A_DM2_PROX_VARPRIN_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_PROX_VARPRIN ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_PROX_VARPRIN END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_PROX_VARPRIN END 
					END), 
		A_DM2_PROX_VARPRIN_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_PROX_VARPRIN END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_PROX_VARPRIN ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_PROX_VARPRIN ELSE NULL END 
					END), 
		A_DM2_ULT_VARPRIN_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_ULT_VARPRIN ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_ULT_VARPRIN END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_ULT_VARPRIN END 
					END), 
		A_DM2_ULT_VARPRIN_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_ULT_VARPRIN END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_ULT_VARPRIN ELSE NULL END 
						ELSE 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_ULT_VARPRIN ELSE NULL END 
					END), 
		A_DM2_OPCFX_NOM_C = SUM(A_DM2_OPCFX_NOM_C), 
		A_DM2_OPCFX_NOM_V = SUM(A_DM2_OPCFX_NOM_V), 
		A_DM2_TIPO_LIQ_R = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_TIPO_LIQ ELSE NULL END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_TIPO_LIQ END 
						WHEN 1 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_TIPO_LIQ END 
						WHEN 2 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_TIPO_LIQ ELSE A_OPE_TIR END 
						WHEN 8 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_TIPO_LIQ ELSE A_OPE_TIR END 
					END), 
		A_DM2_TIPO_LIQ_P = SUM(CASE R_PRO_TPR_ID  
						WHEN 11 THEN  
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_TIPO_LIQ END 
						WHEN 5 THEN 
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_TIPO_LIQ ELSE NULL END 
						WHEN 1 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_TIPO_LIQ ELSE NULL END 
						WHEN 2 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_OPE_TIR ELSE A_DM2_TIPO_LIQ END 
						WHEN 8 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_OPE_TIR ELSE A_DM2_TIPO_LIQ END								 
					END), 
		A_DM2_FIJ_VAR_R = CASE SUM(CASE R_PRO_TPR_ID  
						WHEn 5 THEN  
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE (CASE A_DM2_FIJ_VAR WHEN 'V' THEN 1 ELSE 0 END) END 
						WHEN 2 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN 1 ELSE 0 END 
						WHEN 8 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN 1 ELSE 0 END 
						ELSE NULL 
						END) 
				WHEN NULL THEN NULL WHEN  0 THEN 'F' ELSE 'V' END, 
		A_DM2_FIJ_VAR_P = CASE SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN (CASE A_DM2_FIJ_VAR WHEN 'V' THEN 1 ELSE 0 END) ELSE NULL END 
						WHEN 2 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN 0 ELSE 1 END 
						WHEN 8 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN 0 ELSE 1 END 
						ELSE NULL 
						END) 
				WHEN NULL THEN NULL WHEN 0 THEN 'F' ELSE 'V' END, 
		A_DM2_INDICE_R_ID = SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
								CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE R_DM2_IND_ID END 
						WHEN 2 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN R_DM2_IND_ID ELSE NULL END 
						WHEN 8 THEN 
								CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN R_DM2_IND_ID ELSE NULL END 
						ELSE NULL 
						END), 
		A_DM2_INDICE_P_ID = SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN R_DM2_IND_ID ELSE NULL END 
						WHEN 2 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE R_DM2_IND_ID END 
						WHEN 8 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE R_DM2_IND_ID END 
						ELSE NULL 
					END), 
						 
		A_DM2_INDICE_R = CONVERT(CHAR(20),NULL), 
		A_DM2_INDICE_P = CONVERT(CHAR(20),NULL), 
		A_DM2_SPREAD_R = LTRIM(RTRIM(STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_SPREAD END 
						ELSE 0 END),15,6))), 
		A_DM2_SPREAD_P=LTRIM(RTRIM(STR(SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_SPREAD ELSE NULL END 
						ELSE 0 END),15,6))), 
		A_DM2_ACTIVO_R_ID=SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN 0 ELSE R_DM2_IND_ID_ACT END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN R_DM2_IND_ID_ACT ELSE 0 END 
						ELSE 0 
						END), 
		A_DM2_ACTIVO_P_ID=SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN R_DM2_IND_ID_ACT ELSE 0 END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN 0 ELSE R_DM2_IND_ID_ACT END 
						ELSE 0 
						END), 
		A_DM2_ACTIVO_R = CONVERT(CHAR(20),NULL), 
		A_DM2_ACTIVO_P = CONVERT(CHAR(20),NULL), 
		A_DM2_COD_CESTA_P= MIN(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_COD_CESTA ELSE NULL END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE A_DM2_COD_CESTA END 
						ELSE NULL 
						END), 
		A_DM2_COD_CESTA_R= MIN(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_COD_CESTA END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN A_DM2_COD_CESTA ELSE NULL END 
						ELSE NULL 
						END), 
		A_DM2_F_PROX_FIJ_R = CONVERT(NUMERIC(8,0),CONVERT(CHAR(8),DATEADD(DAY,SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN NULL ELSE A_DM2_F_PROX_FIJAC END 
						WHEN 2 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE A_DM2_F_PROX_FIJAC END 
						WHEN 8 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE A_DM2_F_PROX_FIJAC END 
						WHEN 11 THEN   
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_F_PROX_FIJAC ELSE NULL END  
						ELSE NULL 
						END),'19000101'),112)), 
		A_DM2_F_PROX_FIJ_P = CONVERT(NUMERIC(8,0),CONVERT(CHAR(8),DATEADD(DAY,SUM(CASE R_PRO_TPR_ID  
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_F_PROX_FIJAC ELSE NULL END 
						WHEN 2 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN A_DM2_F_PROX_FIJAC ELSE NULL END 
						WHEN 8 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN A_DM2_F_PROX_FIJAC ELSE NULL END 
						WHEN 11 THEN   
								CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN NULL ELSE A_DM2_F_PROX_FIJAC END  
						ELSE NULL 
						END),'19000101'),112)), 
						 
		A_DM2_NETTING = SUM(A_DM2_COLAT_NETT), 
		A_DM2_NETT_COLAT =NULL, 
		A_DM2_ENT_CON_COD_INT = 1, --MIN((SELECT MIN(A_ENT_COD_INTERNO)FROM drsdb..C_ENTIDAD WHERE A_ENT_ID=OPE.R_OPE_ENT_ID_CON)), 
		A_DM2_NOCI_VIV_R = SUM(CASE R_PRO_TPR_ID 
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN 0 ELSE A_DM2_NOM_VIV_PATA END 
						WHEN 1 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN NULL ELSE A_DM2_NOM_VIV_PATA END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN A_DM2_NOM_VIV_PATA ELSE 0 END 
						ELSE A_DM2_NOM_VIV_PATA  
						END), 
		A_DM2_NOCI_VIV_P= SUM(CASE R_PRO_TPR_ID 
						WHEN 5 THEN  
							CASE R_OPE_OPE_ID_SWA WHEN 0 THEN A_DM2_NOM_VIV_PATA ELSE 0 END 
						WHEN 1 THEN 
							CASE WHEN (A_TOP_OPERATIVA&1) =1 THEN A_DM2_NOM_VIV_PATA ELSE 0 END 
						WHEN 11 THEN  
							CASE WHEN (A_TOP_OPERATIVA&1) =1  THEN 0 ELSE A_DM2_NOM_VIV_PATA END 
						ELSE A_DM2_NOM_VIV_PATA 
						END), 
		A_DM2_PORC_PART_PPAG=LTRIM(RTRIM(STR(SUM(A_DM2_PORC_PART_PPAG),20,6))), 
		A_DM2_PORC_PART_PREC=LTRIM(RTRIM(STR(SUM(A_DM2_PORC_PART_PREC),20,6))), 
		A_DM2_FREC_PPAG = MAX(ISNULL(A_DM2_FREC_PPAG,'')), 
		A_DM2_FREC_PREC = MAX(ISNULL(A_DM2_FREC_PREC,'')) 
	FROM drsdb..C_DATOS_M2 M2,drsdb..C_OPERACION OPE,drsdb..C_TIPO_OPERACION,drsdb..C_PRODUCTO,drsdb..C_EXOTICA 
	WHERE  
		A_OPE_ID =R_DM2_OPE_ID 
		AND R_OPE_TOP_ID =A_TOP_ID 
		AND R_OPE_PRO_ID=A_PRO_ID 
		AND A_DM2_FECHA=@FECHA 
		AND 1=(CASE WHEN A_PRO_COD_ENLACE = 'CF' THEN SIGN(A_OPE_F_LIQUIDAC_) ELSE 1 END) 
		AND A_EXO_ID=A_OPE_ID 
	GROUP BY 	 
		A_OPE_NUM_OPE, 
		R_OPE_DIV_ID, 
		R_OPE_DOP_ID,	 
		CASE WHEN (A_EXO_TIPO&4)=4 AND A_PRO_COD_ENLACE ='CF' THEN A_EXO_ESTILO ELSE 0 END 
 
	SELECT @COD_ERR = @@error 
 
	 
	IF @COD_ERR = 0 
	BEGIN 
	-- Actualizamos los datos que no se han podido calcular en la select anterior: 
		UPDATE COMP_M2 SET  
			A_DM2_INDICE_R = (SELECT MIN(A_IND_COD_ENLACE) FROM drsdb..C_INDICE WHERE A_IND_ID=COMP_M2.A_DM2_INDICE_R_ID), 
			A_DM2_INDICE_P = (SELECT MIN(A_IND_COD_ENLACE) FROM drsdb..C_INDICE WHERE A_IND_ID=COMP_M2.A_DM2_INDICE_P_ID), 
			A_DM2_ACTIVO_R = CASE ISNULL(A_DM2_ACTIVO_R_ID ,0) 
						--*** CRD 14/10/11 *** 
						--WHEN -1 THEN "CESTA" 
						WHEN -1 THEN A_DM2_COD_CESTA_R 
						--*** *** *** 
						WHEN 0 THEN NULL 
						ELSE (SELECT MIN(A_IND_COD_ENLACE) FROM drsdb..C_INDICE WHERE A_IND_ID=COMP_M2.A_DM2_ACTIVO_R_ID) 
						END, 
			A_DM2_ACTIVO_P = CASE ISNULL(A_DM2_ACTIVO_P_ID ,0) 
						--*** CRD 14/10/11 *** 
						--WHEN -1 THEN "CESTA" 
						WHEN -1 THEN A_DM2_COD_CESTA_P 
						--*** *** *** 
						WHEN 0 THEN NULL 
						ELSE (SELECT MIN(A_IND_COD_ENLACE) FROM drsdb..C_INDICE WHERE A_IND_ID=COMP_M2.A_DM2_ACTIVO_P_ID) 
						END, 
			A_DM2_COD_NETTING = CASE WHEN ISNULL(RTRIM(LTRIM(A_DM2_COD_NETTING)),'') = '' THEN 
							CASE WHEN A_DM2_NETTING >=1 THEN 'NETTING_'+ A_DM2_ENT_CON_COD_INT ELSE A_DM2_COD_NETTING END 
						ELSE A_DM2_COD_NETTING END, 
			A_DM2_NETT_COLAT = CASE WHEN ISNULL(RTRIM(LTRIM(A_DM2_COD_NETTING)),'') <> '' THEN 'C' 
						ELSE CASE WHEN A_DM2_NETTING >=1 THEN 'N' ELSE NULL END 
						END 
 
		SELECT @COD_ERR = @@error 
		IF @COD_ERR <>0 
			print 'Error al completar información M2: %1!' --, @COD_ERR 
	END	 
	ELSE 
		print 'Error al buscar información adiccional M2: %1!'	--,@COD_ERR 

	-- DGG 15/09/2020 A los IRS que periodifican a la TIR, les ponemos los importe de comison periodificada a 0
	IF @COD_ERR = 0 
	BEGIN 
		-- PATA DE RECIBO
		UPDATE COMP_M2 SET A_DM2_COMPER_PER_R=0 FROM drsdb..C_OPERACION,drsdb..C_PRODUCTO,drsdb..C_CRIT_RESULT CRR
		WHERE NUM_OPE=A_OPE_NUM_OPE
		AND ID=R_OPE_OPE_ID_SWA AND A_DM2_COMPER_PER_R<>0 AND R_OPE_PRO_ID=A_PRO_ID AND R_PRO_TPR_ID=5 AND R_OPE_PRO_ID=R_CRR_PRO_ID AND A_CRR_TIPO_PERIOD=3 AND A_CRR_TIPO_CRIT=0 AND A_OPE_RET_CUP<@FECHA
		
		-- PATA DE PAGO
		UPDATE COMP_M2 SET A_DM2_COMPER_PER_P=0 FROM drsdb..C_OPERACION,drsdb..C_PRODUCTO,drsdb..C_CRIT_RESULT CRR
		WHERE NUM_OPE=A_OPE_NUM_OPE
		AND ID=A_OPE_ID AND A_DM2_COMPER_PER_P<>0 AND R_OPE_PRO_ID=A_PRO_ID AND R_PRO_TPR_ID=5 AND R_OPE_PRO_ID=R_CRR_PRO_ID AND A_CRR_TIPO_PERIOD=3 AND A_CRR_TIPO_CRIT=0 AND A_OPE_RET_CUP<@FECHA
		
		SELECT @COD_ERR = @@error 
		IF @COD_ERR <>0 
			print 'Error al poner a 0 comisiones Irs-TIR M2: %1!' --,@COD_ERR 
	END
	
	IF @COD_ERR = 0 
	BEGIN 
	UPDATE OPERACION_FRONT SET 
		A_OPF_CAOP=A_DM2_FRE_REV_G,        
		A_OPF_EJOP=A_DM2_FRE_REV_C,       
		A_OPF_FOLI=A_DM2_TIPO_BARRERA, 
		A_OPF_PATA=A_DM2_TIPO_OPCFX,        
		A_OPF_COOP=A_DM2_BASE_R,           
		A_OPF_GROP=A_DM2_BASE_P,           
		A_OPF_CCLI=A_DM2_NIV_BARRERA,      
		A_OPF_CDIC=A_DM2_F_INI_LIQ_R,      
		A_OPF_CDIV=A_DM2_F_FIN_LIQ_R,      
		A_OPF_CECD=A_DM2_F_INI_LIQ_P,      
		A_OPF_CEDE=A_DM2_F_FIN_LIQ_P,      
		A_OPF_CEVA=A_DM2_F_COMFLAT_R,      
		A_OPF_COME=A_DM2_F_COMFLAT_P,      
		A_OPF_CTAL=A_DM2_F_INI_COMPER_R,   
		A_OPF_DCDI=A_DM2_F_FIN_COMPER_R,   
		A_OPF_DCGC=A_DM2_F_INI_COMPER_P,   
		A_OPF_DCME=A_DM2_F_FIN_COMPER_P,   
		A_OPF_DICC=A_DM2_F_PRIMA,          
		A_OPF_DICU=A_DM2_F_TOQUE_BAR,      
		A_OPF_GICM=A_DM2_N_VAR_PRIN_R,     
		A_OPF_GIDI=A_DM2_N_VAR_PRIN_P,     
		A_OPF_GNCM=A_DM2_OPCFX_DIV_C_CEN,  
		A_OPF_GNDI=A_DM2_OPCFX_DIV_V_CEN,  
		A_OPF_DAT1=A_DM2_COD_NETTING,      
		A_OPF_DCFE=A_DM2_F_LIQ_PROX_CUP_R, 
		A_OPF_FEIN=A_DM2_F_LIQ_PROX_CUP_P, 
		A_OPF_ODFL=A_DM2_F_COMPER_R,      
		A_OPF_NAPU=A_DM2_F_COMPER_P,      
		A_OPF_NOCO=A_DM2_F_PROX_VARPRIN_R, 
		A_OPF_NUCO=A_DM2_F_ULT_VARPRIN_R, 
		A_OPF_NURE=A_DM2_F_PROX_VARPRIN_P, 
		A_OPF_ODND=A_DM2_F_ULT_VARPRIN_P,  
		A_OPF_CANO=A_DM2_LIQ_PROX_R,       
		A_OPF_CMDE=A_DM2_ACUM_PER_R,       
		A_OPF_COCO=A_DM2_LIQ_PROX_P,       
		A_OPF_CORR=A_DM2_ACUM_PER_P,       
		A_OPF_DCIG=A_DM2_ACUM_REV,         
		A_OPF_DCIL=A_DM2_COMFLAT_R,        
		A_OPF_GIIM=A_DM2_COMFLAT_P,       
		A_OPF_GNIM=A_DM2_COMPER_R,         
		A_OPF_LICC=A_DM2_COMPER_PER_R,     
		A_OPF_LIGC=A_DM2_COMPER_P,         
		A_OPF_OGIM=A_DM2_COMPER_PER_P,     
		A_OPF_OINN=A_DM2_PRIMA,            
		A_OPF_OISN=A_DM2_REBATE,           
		A_OPF_CAMB=A_DM2_LIM_SUP,          
		A_OPF_PREC=A_DM2_LIM_INF,         
		A_OPF_EFIN=A_DM2_PROX_VARPRIN_R,   
		A_OPF_EFSM=A_DM2_PROX_VARPRIN_P,   
		A_OPF_EOPE=A_DM2_ULT_VARPRIN_R,    
		A_OPF_GAST=A_DM2_ULT_VARPRIN_P,    
		A_OPF_GCEC=A_DM2_OPCFX_NOM_C,      
		A_OPF_IRVA=A_DM2_OPCFX_NOM_V,      
		A_OPF_NOIN=A_DM2_TIPO_LIQ_R,       
		A_OPF_NTIT=A_DM2_TIPO_LIQ_P, 
		A_OPF_REFO=A_DM2_FIJ_VAR_R, 
		A_OPF_RESI=A_DM2_FIJ_VAR_P, 
		A_OPF_ODC1=A_DM2_INDICE_R, 
		A_OPF_ODC2=A_DM2_INDICE_P, 
		A_OPF_ODDI=A_DM2_SPREAD_R, 
		A_OPF_ODNN=A_DM2_SPREAD_P, 
		A_OPF_ODC3=A_DM2_ACTIVO_R, 
		A_OPF_ODCL=A_DM2_ACTIVO_P, 
		A_OPF_FOVA=A_DM2_F_PROX_FIJ_R, 
		A_OPF_FOVT=A_DM2_F_PROX_FIJ_P, 
		A_OPF_TIPO=A_DM2_NETT_COLAT, 
		A_OPF_EFCO=A_DM2_NOCI_VIV_R, 
		A_OPF_EFVE=A_DM2_NOCI_VIV_P, 
		A_OPF_ODSN=A_DM2_PORC_PART_PPAG, 
		A_OPF_OGCM=A_DM2_PORC_PART_PREC, 
		A_OPF_MERC = 1, --REPLICATE('0',3-(CHAR_LENGTH(RTRIM(LTRIM(A_DM2_FREC_PPAG)))-1)) + RTRIM(LTRIM(A_DM2_FREC_PPAG)), 
		A_OPF_OFIC = 1 --REPLICATE('0',3-(CHAR_LENGTH(RTRIM(LTRIM(A_DM2_FREC_PREC)))-1)) + RTRIM(LTRIM(A_DM2_FREC_PREC)) 
	FROM COMP_M2 CM2 
	WHERE  
		A_OPF_CABE ='M2'  
		AND A_OPF_FOPE =CONVERT(NUMERIC(8),CONVERT(CHAR(8),DATEADD(DAY,@FECHA,'19000101'),112))  
		AND A_OPF_NUMO = NUM_OPE  
		AND A_OPF_NOPR= CASE AGRUPADO WHEN 2 THEN A_OPF_NOPR ELSE ID END 
		--*** CRD 25/10/11 *** La actualización al M2 sólo se hace en el caso en que el registro no haya sido enviado al BACK. 
		AND A_OPF_SITUACION = 1 
     
	SELECT @COD_ERR = @@error 
		 
	END 
RETURN @COD_ERR 
END	 

