GO
/****** Object:  StoredProcedure [dbo].[proceso2]    Script Date: 05/02/2026 17:20:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   procedure [dbo].[proceso2](@num1 int, @num2 int)
as


exec dbo.proceso1 @num1, @num2;
print 'En el proceso2';

